<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data functions</title>
</head>
<body>
    <button onclick="Histograms()">Histograms</button>
    <button onclick="WA()">Weigthed Average</button>
    <button onclick="MMin()">Maximin</button>
    <button onclick="MMax()">Minimax</button>
    <button onclick="LMin()">Leximin</button>
    <button onclick="LMax()">Leximax</button>
    <button onclick="Skylines()">PCA+Skylines</button>
    <button onclick="PCAKMEANS()">PCA+K-means</button>
</body>

<script>
    function Histograms(){
        window.location='/Histograms'
    }
    function WA(){
        window.location='/WA'
    }
    function MMin(){
        window.location='/MMin'
    }
    function MMax(){
        window.location='/MMax'
    }
    function LMin(){
        window.location='/LMin'
    }
    function LMax(){
        window.location='/LMax'
    }
    function Skylines(){
        window.location='/PCASkylines'
    }
    function PCAKMEANS(){
        window.location='/PCAKMEANS'
    }
</script>

</html>
