<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skylines</title>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
</head>
<body>
    <h1>PCA and Skylines for dataset</h1>
    <div>
        <button onclick="Show()">See Dataset</button>
        <button onclick="back()">Back</button>
    </div>
    
    {{ script|safe }}
    {{ div|safe }}
</body>
<script>
    function Show(){
        window.location = '/Skylines/Show'
    }
    function back(){
        window.location='/'
    }
</script>
</html>
