<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weighted Average</title>
</head>
<body>
    <h1>Weighted Average</h1>
    <div>
        <button onclick="Show()">See Dataset</button>
        <button onclick="back()">Back</button>
    </div>
    
    <div>
        <img src={{url}} alt="chart" width="1500" height="1500">
    </div>
</body>
<script>
    function Show(){
        window.location = '/WA/Show'
    }
    function back(){
        window.location='/'
    }
</script>
</html>
